@CHARSET "utf-8";

h1 { 
	height: 33px;
	font-size: x-large;
	text-align: center;
}

h2 {
	height: 28px;
	font-size: large;
}

a:hover { background-color: white; }

input.err { background-color: orange; }

.title{
	font: 60 "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-shadow: #DDD 0 10px 2px;
	text-align: center;
	color: orange;
}

body{
margin:0;
padding:0;
line-height: 1.5em;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

b{font-size: 110%;}
em{color: red;}

p{
	padding-left: 20px;
	padding-right: 20px;
}

#header{
	width:100%;
	height:168px;
	background:url(/resources/header.png) repeat top right;
}

#contentwrapper{
	float: left;
	width: 100%;
}

#contentcolumn{
	margin-right: 220px; /*Set right margin to RightColumnWidth*/
}

#rightcolumn{
	float: left;
	width: 220px; /*Width of right column in pixels*/
	margin-left: -220px; /*Set left margin to -(RightColumnWidth) */
	background: #FDE95E;
	background-color: orange;
}

#footer{
	clear: both;
	width: 100%;
	background: orange;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
	font-size: 65%;
}

#footer a{
	color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

.product img{
	float: left;
	width: 200px;
}

.product h1{
	text-align: left;
}

.product p{
	padding-left: 20px; /*WidthImmagine + 20px*/
}

.producer img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}

.producer h1{
	text-align: center;
}

.producer h2{
	text-align: left;
	padding-left:20px;
}

.producer p{
	padding-left:20px;
}

.productlist table{
	width: 80%;
	margin: 20px 0px;
	margin-right: auto;
	margin-left: auto;
}

.productlist table,
.productlist th,
.productlist td{
border: 1px solid black;
}

.productlist tr td img{
	width: 100px;
	border-width: 1px;
}

.productlist .photo{
	width: 100px;
}