<style type="text/css">

#sidemenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 160px;
	padding: 0px;
	margin: 0px;
}

#sidemenu h1 {
	display: block; 
	background-color:#FF9900;
	font-size: 90%; 
	padding: 3px 0 5px 3px;
	border: 1px solid #000000;
	color: #333333;
	margin: 0px;
	width:159px;
}

#sidemenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}
#sidemenu ul li {
	margin: 0px;
	padding: 0px;
}
#sidemenu ul li a {
	font-size: 80%;
	display: block;
	border-bottom: 1px dashed #C39C4E;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #666666;
	color: white;
	width:160px;
}

#sidemenu ul li a:hover, #sidemenu ul li a:focus {
	color: #000000;
	background-color: #eeeeee;
}

</style>